.hidden {
    display: none;
}
h1 {
    display: flex;
    justify-content: center;
}
h2 {
    display: flex;
    justify-content: center;
}
.promo-item {
    border: 2px solid black;
    border-radius: 20px;
    padding: 20px;
    width: 300px;
    text-align: center;
}
#modifContainer {
    border: 2px solid black;
    border-radius: 20px;
    padding: 20px;
    width: 300px;
    text-align: center;
}
